<div class = "container">
    <!-- Odstęp -->
    <div class="row mt-5"></div>

    <!-- Przyciski pobierania -->
    <div class = "row">
        <div class="col-8">
            <h4>Datatable</h4>
        </div>
        <div class="col-2">
            <button (click)="csv()">Download CSV</button>
        </div>
        <div class="col-2">
            <button (click)="json()">Download JSON</button>
        </div>
    </div>

    <!-- Tabela -->
    <div class="row data-table">
        <div class="vertical-scrollable" >
            <table mat-table [dataSource]="sensorData" matSort (matSortChange)="sortData($event)">
                <ng-container matColumnDef="sensorId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: white;">sensorId</th>
                    <td mat-cell *matCellDef="let element" class="col-3"> {{element.sensorId}} </td>
                </ng-container>
            
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: white;"> type</th>
                    <td mat-cell *matCellDef="let element" class="col-3"> {{element.sensorType}} </td>
                </ng-container>
            
                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: white;">value</th>
                    <td mat-cell *matCellDef="let element" class="col-3"> {{element.data}} </td>
                </ng-container>
            
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: white;">date</th>
                    <td mat-cell *matCellDef="let element" class="col-3"> {{element.date}} </td>
                </ng-container>
                
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    <div>

    <!-- Filtry -->
    <div class="row">
        <h4>Filters form</h4>
        <div class="row mt-5"></div>
        <!--<div class="col-3">-->
            <form [formGroup]="filter" (ngSubmit)="sendFilter()" >
                <div class="row">
                    <div class="col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Sensor Id</mat-label>
                            <select matNativeControl formControlName="id" class="my-select-style">
                                <option [ngValue]="'0'">0</option>
                                <option [ngValue]="'1'">1</option>
                                <option [ngValue]="'2'">2</option>
                                <option [ngValue]="'3'">3</option>
                                <option [ngValue]="''">All</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class = "col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Sensor type</mat-label>
                            <select matNativeControl formControlName="type" class="my-select-style">
                                <option [ngValue]="'Temperature'">Temperature</option>
                                <option [ngValue]="'Pressure'">Pressure</option>
                                <option [ngValue]="'Radiation'">Radiation</option>
                                <option [ngValue]="'Seismometer'">Seismometer</option>
                                <option [ngValue]="''">All</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class = "col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Start date</mat-label>
                            <input matInput type="datetime-local" placeholder="start date" formControlName="startDate" class="my-select-style">
                        </mat-form-field>
                    </div>
                    <div class = "col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>End date</mat-label>
                            <input matInput type="datetime-local" placeholder="end date" formControlName="endDate" class="my-select-style">
                        </mat-form-field>
                    </div>
                </div>
                <div class = "row">
                    <div class="col-9"></div>
                    <div class = "col-3">
                        <button class="button" type="submit" style="width: 50%;">Filter</button>
                    </div>
                </div>
                 
            </form>

            
        <!--</div>-->
    </div>

    <div class="row mt-5"></div>
    <!-- Wykres -->
    <h4>Charts</h4>
    <div class = "row">
        <div style="display: block;">
            <canvas baseChart
                    [type] = "'line'"
                    [datasets]="chartData"
                    [labels]="labels"
                    [options]="options"
                    [legend]="true"
                   >
                  </canvas>
        </div>
    </div>
    <div class = "row">
        <div style="display: block;">
            <canvas baseChart
                    [type] = "'line'"
                    [datasets]="chartData2"
                    [labels]="labels2"
                    [options]="options"
                    [legend]="true"
                   >
                  </canvas>
        </div>
    </div>
    <div class = "row">
        <div style="display: block;">
            <canvas baseChart
                    [type] = "'line'"
                    [datasets]="chartData3"
                    [labels]="labels3"
                    [options]="options"
                    [legend]="true"
                   >
                  </canvas>
        </div>
    </div>
    <div class = "row">
        <div style="display: block;">
            <canvas baseChart
                    [type] = "'line'"
                    [datasets]="chartData4"
                    [labels]="labels4"
                    [options]="options"
                    [legend]="true"
                   >
                  </canvas>
        </div>
    </div>

    <div class="row mt-5"></div>
    <!-- Refreshing statistics -->
    <h4>Statistics</h4>
    <div class="row">
        <p>Temperature mean: {{temperatureMean}}, Temperature last: {{temperatureLast}}</p>
        <p>Pressure mean: {{pressureMean}}, Pressure last: {{pressureLast}}</p>
        <p>Radiation mean: {{radiationMean}}, Temperature last: {{radiationLast}}</p>
        <p>Seismometer mean: {{seismometerMean}}, Temperature last: {{seismometerLast}}</p>
    </div>
    
</div>
