.vertical-scrollable {
    height: 90vh;
    overflow-y: scroll;
}

.my-select-style{
    padding: 5%;
  }

.data-table {
    margin: 30px 0;
}

button{
    display: block;
    margin: 0;
    float: right;
    padding: 10px;
    border-width: 1px;
}

th {
    font-weight: bold;
    text-transform: capitalize;
}
